In [54]:
import pandas as pd
from IPython.display import display

In [55]:
SHOW = 10

# - Definindo o cabeçalho que será usado para todos os datasets
headerList = ['age','sex','chestPain','restingBloodPressure','serumCholestoral','fastingBloodSugar>120','restingEletroc',
              'maximumHeartRate','exerciseInducedAngina','oldpeak','op_slope','numberMajorVessels','bloodFlow_thal','diagnosis']
    
def show_df(df):
    print('\n---------------------\n')
    display(df.head(SHOW))

In [56]:
# - Lendo os arquivos CSV sem cabeçalho e atribuindo o cabeçalho definido
# O parâmetro header=None informa que o arquivo não possui cabeçalho e o parâmetro names
# atribui o cabeçalho customizado que definimos
df1 = pd.read_csv('data/processed.cleveland.csv',   header=None, names=headerList)
df2 = pd.read_csv('data/processed.hungarian.csv',   header=None, names=headerList)
df3 = pd.read_csv('data/processed.switzerland.csv', header=None, names=headerList)
df4 = pd.read_csv('data/processed.va.csv',          header=None, names=headerList)

In [57]:
show_df(df1)
show_df(df2)   
show_df(df3)
show_df(df4)

---------------------

,age,sex,chestPain,restingBloodPressure,serumCholestoral,fastingBloodSugar>120,restingEletroc,maximumHeartRate,exerciseInducedAngina,oldpeak,op_slope,numberMajorVessels,bloodFlow_thal,diagnosis
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
5,56.0,1.0,2.0,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0
6,62.0,0.0,4.0,140.0,268.0,0.0,2.0,160.0,0.0,3.6,3.0,2.0,3.0,3
7,57.0,0.0,4.0,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0.0,3.0,0
8,63.0,1.0,4.0,130.0,254.0,0.0,2.0,147.0,0.0,1.4,2.0,1.0,7.0,2
9,53.0,1.0,4.0,140.0,203.0,1.0,2.0,155.0,1.0,3.1,3.0,0.0,7.0,1

---------------------

,age,sex,chestPain,restingBloodPressure,serumCholestoral,fastingBloodSugar>120,restingEletroc,maximumHeartRate,exerciseInducedAngina,oldpeak,op_slope,numberMajorVessels,bloodFlow_thal,diagnosis
0,28,1,2,130,132,0,2,185,0,0.0,?,?,?,0
1,29,1,2,120,243,0,0,160,0,0.0,?,?,?,0
2,29,1,2,140,?,0,0,170,0,0.0,?,?,?,0
3,30,0,1,170,237,0,1,170,0,0.0,?,?,6,0
4,31,0,2,100,219,0,1,150,0,0.0,?,?,?,0
5,32,0,2,105,198,0,0,165,0,0.0,?,?,?,0
6,32,1,2,110,225,0,0,184,0,0.0,?,?,?,0
7,32,1,2,125,254,0,0,155,0,0.0,?,?,?,0
8,33,1,3,120,298,0,0,185,0,0.0,?,?,?,0
9,34,0,2,130,161,0,0,190,0,0.0,?,?,?,0

---------------------

,age,sex,chestPain,restingBloodPressure,serumCholestoral,fastingBloodSugar>120,restingEletroc,maximumHeartRate,exerciseInducedAngina,oldpeak,op_slope,numberMajorVessels,bloodFlow_thal,diagnosis
0,32,1,1,95,0,?,0,127,0,.7,1,?,?,1
1,34,1,4,115,0,?,?,154,0,.2,1,?,?,1
2,35,1,4,?,0,?,0,130,1,?,?,?,7,3
3,36,1,4,110,0,?,0,125,1,1,2,?,6,1
4,38,0,4,105,0,?,0,166,0,2.8,1,?,?,2
5,38,0,4,110,0,0,0,156,0,0,2,?,3,1
6,38,1,3,100,0,?,0,179,0,-1.1,1,?,?,0
7,38,1,3,115,0,0,0,128,1,0,2,?,7,1
8,38,1,4,135,0,?,0,150,0,0,?,?,3,2
9,38,1,4,150,0,?,0,120,1,?,?,?,3,1

---------------------

,age,sex,chestPain,restingBloodPressure,serumCholestoral,fastingBloodSugar>120,restingEletroc,maximumHeartRate,exerciseInducedAngina,oldpeak,op_slope,numberMajorVessels,bloodFlow_thal,diagnosis
0,63,1,4,140,260,0,1,112,1,3,2,?,?,2
1,44,1,4,130,209,0,1,127,0,0,?,?,?,0
2,60,1,4,132,218,0,1,140,1,1.5,3,?,?,2
3,55,1,4,142,228,0,1,149,1,2.5,1,?,?,1
4,66,1,3,110,213,1,2,99,1,1.3,2,?,?,0
5,66,1,3,120,0,0,1,120,0,-0.5,1,?,?,0
6,65,1,4,150,236,1,1,105,1,0,?,?,?,3
7,60,1,3,180,0,0,1,140,1,1.5,2,?,?,0
8,60,1,3,120,0,?,0,141,1,2,1,?,?,3
9,60,1,2,160,267,1,1,157,0,0.5,2,?,?,1

In [58]:

# Removendo as colunas indesejadas de cada dataframe
colunas_remover = ['fastingBloodSugar>120','oldpeak', 'op_slope','numberMajorVessels','bloodFlow_thal']
df1 = df1.drop(columns=colunas_remover)
df2 = df2.drop(columns=colunas_remover)
df3 = df3.drop(columns=colunas_remover)
df4 = df4.drop(columns=colunas_remover)

In [59]:
show_df(df1)
show_df(df2)   
show_df(df3)
show_df(df4)

---------------------

,age,sex,chestPain,restingBloodPressure,serumCholestoral,restingEletroc,maximumHeartRate,exerciseInducedAngina,diagnosis
0,63.0,1.0,1.0,145.0,233.0,2.0,150.0,0.0,0
1,67.0,1.0,4.0,160.0,286.0,2.0,108.0,1.0,2
2,67.0,1.0,4.0,120.0,229.0,2.0,129.0,1.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,187.0,0.0,0
4,41.0,0.0,2.0,130.0,204.0,2.0,172.0,0.0,0
5,56.0,1.0,2.0,120.0,236.0,0.0,178.0,0.0,0
6,62.0,0.0,4.0,140.0,268.0,2.0,160.0,0.0,3
7,57.0,0.0,4.0,120.0,354.0,0.0,163.0,1.0,0
8,63.0,1.0,4.0,130.0,254.0,2.0,147.0,0.0,2
9,53.0,1.0,4.0,140.0,203.0,2.0,155.0,1.0,1

---------------------

,age,sex,chestPain,restingBloodPressure,serumCholestoral,restingEletroc,maximumHeartRate,exerciseInducedAngina,diagnosis
0,28,1,2,130,132,2,185,0,0
1,29,1,2,120,243,0,160,0,0
2,29,1,2,140,?,0,170,0,0
3,30,0,1,170,237,1,170,0,0
4,31,0,2,100,219,1,150,0,0
5,32,0,2,105,198,0,165,0,0
6,32,1,2,110,225,0,184,0,0
7,32,1,2,125,254,0,155,0,0
8,33,1,3,120,298,0,185,0,0
9,34,0,2,130,161,0,190,0,0

---------------------

,age,sex,chestPain,restingBloodPressure,serumCholestoral,restingEletroc,maximumHeartRate,exerciseInducedAngina,diagnosis
0,32,1,1,95,0,0,127,0,1
1,34,1,4,115,0,?,154,0,1
2,35,1,4,?,0,0,130,1,3
3,36,1,4,110,0,0,125,1,1
4,38,0,4,105,0,0,166,0,2
5,38,0,4,110,0,0,156,0,1
6,38,1,3,100,0,0,179,0,0
7,38,1,3,115,0,0,128,1,1
8,38,1,4,135,0,0,150,0,2
9,38,1,4,150,0,0,120,1,1

---------------------

,age,sex,chestPain,restingBloodPressure,serumCholestoral,restingEletroc,maximumHeartRate,exerciseInducedAngina,diagnosis
0,63,1,4,140,260,1,112,1,2
1,44,1,4,130,209,1,127,0,0
2,60,1,4,132,218,1,140,1,2
3,55,1,4,142,228,1,149,1,1
4,66,1,3,110,213,2,99,1,0
5,66,1,3,120,0,1,120,0,0
6,65,1,4,150,236,1,105,1,3
7,60,1,3,180,0,1,140,1,0
8,60,1,3,120,0,0,141,1,3
9,60,1,2,160,267,1,157,0,1

In [60]:
# Cast de todas as colunas de df1 para int
df1 = df1.astype(int)

In [61]:
# Remove linhas com caractere "?" de todos os dataframes
df1 = df1[(df1 != '?').all(1)]
df2 = df2[(df2 != '?').all(1)]
df3 = df3[(df3 != '?').all(1)]
df4 = df4[(df4 != '?').all(1)]

In [62]:
show_df(df1)
show_df(df2)   
show_df(df3)
show_df(df4)

---------------------

,age,sex,chestPain,restingBloodPressure,serumCholestoral,restingEletroc,maximumHeartRate,exerciseInducedAngina,diagnosis
0,63,1,1,145,233,2,150,0,0
1,67,1,4,160,286,2,108,1,2
2,67,1,4,120,229,2,129,1,1
3,37,1,3,130,250,0,187,0,0
4,41,0,2,130,204,2,172,0,0
5,56,1,2,120,236,0,178,0,0
6,62,0,4,140,268,2,160,0,3
7,57,0,4,120,354,0,163,1,0
8,63,1,4,130,254,2,147,0,2
9,53,1,4,140,203,2,155,1,1

---------------------

,age,sex,chestPain,restingBloodPressure,serumCholestoral,restingEletroc,maximumHeartRate,exerciseInducedAngina,diagnosis
0,28,1,2,130,132,2,185,0,0
1,29,1,2,120,243,0,160,0,0
3,30,0,1,170,237,1,170,0,0
4,31,0,2,100,219,1,150,0,0
5,32,0,2,105,198,0,165,0,0
6,32,1,2,110,225,0,184,0,0
7,32,1,2,125,254,0,155,0,0
8,33,1,3,120,298,0,185,0,0
9,34,0,2,130,161,0,190,0,0
10,34,1,2,150,214,1,168,0,0

---------------------

,age,sex,chestPain,restingBloodPressure,serumCholestoral,restingEletroc,maximumHeartRate,exerciseInducedAngina,diagnosis
0,32,1,1,95,0,0,127,0,1
3,36,1,4,110,0,0,125,1,1
4,38,0,4,105,0,0,166,0,2
5,38,0,4,110,0,0,156,0,1
6,38,1,3,100,0,0,179,0,0
7,38,1,3,115,0,0,128,1,1
8,38,1,4,135,0,0,150,0,2
9,38,1,4,150,0,0,120,1,1
10,40,1,4,95,0,1,144,0,2
11,41,1,4,125,0,0,176,0,2

---------------------

,age,sex,chestPain,restingBloodPressure,serumCholestoral,restingEletroc,maximumHeartRate,exerciseInducedAngina,diagnosis
0,63,1,4,140,260,1,112,1,2
1,44,1,4,130,209,1,127,0,0
2,60,1,4,132,218,1,140,1,2
3,55,1,4,142,228,1,149,1,1
4,66,1,3,110,213,2,99,1,0
5,66,1,3,120,0,1,120,0,0
6,65,1,4,150,236,1,105,1,3
7,60,1,3,180,0,1,140,1,0
8,60,1,3,120,0,0,141,1,3
9,60,1,2,160,267,1,157,0,1

In [63]:
# Substitui os valores 1 e 2 por 0, e os valores 3 e 4 por 1 da coluna diagnosis nos dataframes necessários
df1['diagnosis'] = df1['diagnosis'].replace([1, 2], 0)
df1['diagnosis'] = df1['diagnosis'].replace([3, 4], 1)

df3['diagnosis'] = df3['diagnosis'].replace([1, 2], 0)
df3['diagnosis'] = df3['diagnosis'].replace([3, 4], 1)

df4['diagnosis'] = df4['diagnosis'].replace([1, 2], 0)
df4['diagnosis'] = df4['diagnosis'].replace([3, 4], 1)

In [64]:
show_df(df1)
show_df(df2)   
show_df(df3)
show_df(df4)

---------------------

,age,sex,chestPain,restingBloodPressure,serumCholestoral,restingEletroc,maximumHeartRate,exerciseInducedAngina,diagnosis
0,63,1,1,145,233,2,150,0,0
1,67,1,4,160,286,2,108,1,0
2,67,1,4,120,229,2,129,1,0
3,37,1,3,130,250,0,187,0,0
4,41,0,2,130,204,2,172,0,0
5,56,1,2,120,236,0,178,0,0
6,62,0,4,140,268,2,160,0,1
7,57,0,4,120,354,0,163,1,0
8,63,1,4,130,254,2,147,0,0
9,53,1,4,140,203,2,155,1,0

---------------------

,age,sex,chestPain,restingBloodPressure,serumCholestoral,restingEletroc,maximumHeartRate,exerciseInducedAngina,diagnosis
0,28,1,2,130,132,2,185,0,0
1,29,1,2,120,243,0,160,0,0
3,30,0,1,170,237,1,170,0,0
4,31,0,2,100,219,1,150,0,0
5,32,0,2,105,198,0,165,0,0
6,32,1,2,110,225,0,184,0,0
7,32,1,2,125,254,0,155,0,0
8,33,1,3,120,298,0,185,0,0
9,34,0,2,130,161,0,190,0,0
10,34,1,2,150,214,1,168,0,0

---------------------

,age,sex,chestPain,restingBloodPressure,serumCholestoral,restingEletroc,maximumHeartRate,exerciseInducedAngina,diagnosis
0,32,1,1,95,0,0,127,0,0
3,36,1,4,110,0,0,125,1,0
4,38,0,4,105,0,0,166,0,0
5,38,0,4,110,0,0,156,0,0
6,38,1,3,100,0,0,179,0,0
7,38,1,3,115,0,0,128,1,0
8,38,1,4,135,0,0,150,0,0
9,38,1,4,150,0,0,120,1,0
10,40,1,4,95,0,1,144,0,0
11,41,1,4,125,0,0,176,0,0

---------------------

,age,sex,chestPain,restingBloodPressure,serumCholestoral,restingEletroc,maximumHeartRate,exerciseInducedAngina,diagnosis
0,63,1,4,140,260,1,112,1,0
1,44,1,4,130,209,1,127,0,0
2,60,1,4,132,218,1,140,1,0
3,55,1,4,142,228,1,149,1,0
4,66,1,3,110,213,2,99,1,0
5,66,1,3,120,0,1,120,0,0
6,65,1,4,150,236,1,105,1,1
7,60,1,3,180,0,1,140,1,0
8,60,1,3,120,0,0,141,1,1
9,60,1,2,160,267,1,157,0,0

In [65]:
# exporta os dataframes para arquivos CSV
df1.to_csv('data/view.cleveland.csv', index=False)
df2.to_csv('data/view.hungarian.csv', index=False)
df3.to_csv('data/view.switzerland.csv', index=False)
df4.to_csv('data/view.va.csv', index=False)

In [66]:
# Junta os 4 dataframes em um único e exporta para um arquivo CSV com cabeçalho
df = pd.concat([df1, df2, df3, df4])
df = df.astype(int)
df.to_csv('data/all.csv', index=False)

show_df(df)

# Exbindo informações do dataframe final
print("\nInformações do dataframe final:")
df.info()

---------------------

,age,sex,chestPain,restingBloodPressure,serumCholestoral,restingEletroc,maximumHeartRate,exerciseInducedAngina,diagnosis
0,63,1,1,145,233,2,150,0,0
1,67,1,4,160,286,2,108,1,0
2,67,1,4,120,229,2,129,1,0
3,37,1,3,130,250,0,187,0,0
4,41,0,2,130,204,2,172,0,0
5,56,1,2,120,236,0,178,0,0
6,62,0,4,140,268,2,160,0,1
7,57,0,4,120,354,0,163,1,0
8,63,1,4,130,254,2,147,0,0
9,53,1,4,140,203,2,155,1,0

Informações do dataframe final:
<class 'pandas.core.frame.DataFrame'>
Index: 832 entries, 0 to 199
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   age                    832 non-null    int64
 1   sex                    832 non-null    int64
 2   chestPain              832 non-null    int64
 3   restingBloodPressure   832 non-null    int64
 4   serumCholestoral       832 non-null    int64
 5   restingEletroc         832 non-null    int64
 6   maximumHeartRate       832 non-null    int64
 7   exerciseInducedAngina  832 non-null    int64
 8   diagnosis              832 non-null    int64
dtypes: int64(9)
memory usage: 65.0 KB